body {
    background-color: #FEF6E4;
    align-items: center;
    width: 75%;
    padding: 5%;
    margin: auto;
    border-radius: 5%;
    
}
h1{
    text-align: center;
    width: 50%;
    padding: 3%;
    background-color: #F3D2C1;
    align-items: center;
    margin: auto;
    font-weight: bolder;
    
}


.Paragraph1 {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    background-color: #F3D2C1;
    width: 50%;
    padding: 3%;
    color: black;
    font-size: smaller;
    
}
body {
    background-color: beige;
}
.hey {
    height: 150pt;
    width: 200pt;
}
.Paragraph2 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #F3D2C1;
    width: 50%;
    padding: 3%;
    color: black;
    font-size: small;

}
.designer {
    height: 100pt;
    width: 150pt;
}
.contact{
    margin: auto;
    background-color: #F3D2C1;
    width: 50%;
    padding: 3%;
    color: black;
    border-bottom: 5%;
    
}
.links {
    color: black;
}
